<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tor.arne.vestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<% committer_is_author = commit.committer.email == commit.author.email %>

<div class="gts-commit">
  <blockquote>
    <p class="gts-commit-sha1">Commit: <a href="<%= project_repository_commit_path(repository.project, repository, commit.id) %>">#<%= commit.short_oid %></a></p>
    <p class="gts-commit-sha1 gts-commit-parent">
      Parent<%= "s" if commit.parents.length > 1 %>:
      <%= commit.parents.map do |parent|
            "<a href=\"#{project_repository_commit_path(repository.project, repository, parent.id)}\">##{parent.id[0,7]}</a>"
          end.join(", ").html_safe %>
    </p>
    <div class="gts-commit-message">
      <% summary, message = parse_commit_message(commit.message) %>
      <% if summary %>
        <h2><%= @title = summary %></h2>
      <% end %>
      <% if message != "" %>
        <%= message.split("\n\n").map { |p| "<p>#{p}</p>" }.join("").html_safe %>
      <% end %>
    </div>
  </blockquote>

  <p class="gts-commit-meta">
    <% if committer_user -%>
      <%= link_to(avatar_from_email(commit.committer.email, { :size => 24 }), committer_user) %>
      <%= link_to(commit.committer.name.force_utf8, committer_user) %>
    <% elsif commit.committer.email.present? -%>
      <%= avatar_from_email(commit.committer.email, { :size => 24 }) %>
      <a>
        <%=h commit.committer.email.force_utf8 -%>
        <%= render_email(commit.committer.email) -%>
      </a>
    <% end -%>
    <% if !committer_is_author -%>
      <span class="muted">(<%= t("views.commits.committer") %>)</span>
    <% end -%>
    <span class="datetime" title="<%= commit.committed_date.utc %>">
      <%= time_ago_in_words(commit.committed_date) %> ago
    </span>
  </p>
  <% if !committer_is_author -%>
    <p class="gts-commit-meta">
      <% if author_user -%>
        <%= link_to(avatar_from_email(commit.author.email, { :size => 24 }), author_user) %>
        <%= link_to(commit.author.name.force_utf8, author_user) -%>
      <% else -%>
        <%= avatar_from_email(commit.author.email, { :size => 24 }) %>
        <a>
          <%=h commit.author.name.force_utf8 -%>
          <%= render_email(commit.author.email) -%>
        </a>
      <% end -%>
      <span class="muted">(<%= t("views.commits.author") %>)</span>
      <span class="datetime" data-timestamp="<%= (commit.authored_date.to_f * 1000).floor %>"><%= commit.authored_date.strftime("%Y-%m-%d %H:%M") %></span>
    </p>
  <% end %>
</div>
