<%
#--
#   Copyright (C) 2011, 2013 Gitorious AS
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2008 Simon Hausmann <simon.hausmann@nokia.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= partial("repositories/header_compact", {
        :repository => commit.repository,
        :project => commit.project,
        :app => Gitorious,
        :active => :commits
      }) %>
<div class="container gts-body">
  <% @title = t("views.commits.title", :commit => h(commit.id)) %>

  <%= render(:partial => "commit_meta", :locals => {
          :commit => commit,
          :project => commit.project,
          :repository => commit.repository,
          :committer_user => commit.committer_user,
          :author_user => commit.author_user
        }) -%>
  <% if commit.diffs.blank? -%>
    <p><%= t("views.commits.message_html", :path => tree_path(commit.id)) %></p>
  <% elsif !commit.merge? -%>
    <%= pull_box 'Summary' do %>
      <%= render_diff_stats(commit.stats) -%>
    <% end %>
    <%= render_diffmode_selector(commit.repository, commit, mode) -%>
    <% commit.diffs.each do |diff| %>
      <%= renderer.render(diff).html_safe %>
    <% end %>
  <% end -%>
  <br/>
  <div class="gts-commit-comments" data-gts-env-commit-comments-url="<%= project_repository_commit_comments_path(commit.project, commit.repository, commit.id, :format => "json") %>">
    <h3 class="gts-legend">Comments</h3>
    <div class="hidden">
      <%= simple_form_for(Comment.new, {
              :as => :comment,
              :url => project_repository_create_commit_comment_path(commit.project, commit.repository, commit.id),
              :html => { :class => "form-horizontal gts-comment-form", :id => "comment_form_tpl" }
            }) do |form| -%>
        <%= render(:partial => "comments/form", :locals => { :form => form }) %>
        <div class="comment-extra"></div>
      <% end %>
    </div>
  </div>
</div>
