<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= partial("repositories/header_compact", {
        :repository => repository,
        :project => repository.project,
        :app => Gitorious,
        :active => :merge_requests
      }) %>
<% @title = "Diffs for #{merge_request.summary}" %>
<div class="container gts-body">
  <%= render 'merge_requests/header', :merge_request => merge_request, :source_repo => source_repo, :target_repo => target_repo, :user => user %>

  <% if timeout %>
    <div class="alert alert-error">
      <h3>Git timeout</h3>
      <p>
        We're sorry, but it seems that the server timed out trying to fetch the
        diffs for your merge request. This typically means that the merge request
        is large. Please review changes locally:
      </p>
      <pre># Create a local branch
git checkout -b merge-requests/<%= merge_request.sequence_number %>

# Fetch the merge request into the new branch
git pull <%= merge_request.target_repository.clone_url %> <%= merge_request.merge_branch_name %>

# Show the commits
git log --pretty=oneline --abbrev-commit <%= merge_request.target_branch %>..merge-requests/<%= merge_request.sequence_number %></pre>
      <p>
        If you believe that this merge request is indeed not too big for the web
        interface, please
        contact <a href="mailto:<%= Gitorious.support_email %>"><%= Gitorious.support_email %></a>.
      </p>
    </div>
  <% end %>

  <% if !diffs.blank? %>
    <%= render_diffmode_selector_plain(repository, renderer.mode) do
          version_drop_down(merge_request, merge_request_version).html_safe
        end %>
    <% diffs.each do |diff| %>
      <%= renderer.render(diff).html_safe %>
    <% end %>
  <% end %>

  <div class="gts-commit-comments" data-gts-env-commit-comments-url="<%= project_repository_merge_request_version_comments_path(project, repository, merge_request, merge_request_version, range, :format => "json") %>">
    <h3>Comments</h3>
    <div class="hidden">
      <%= simple_form_for(merge_request_version.comments.new, {
              :as => :comment,
              :url => project_repository_merge_request_version_create_comment_path(project, repository, merge_request, merge_request_version, range),
              :html => { :class => "form-horizontal gts-comment-form", :id => "comment_form_tpl" }
            }) do |form| -%>
        <%= render "comments/form", :form => form %>
        <div class="comment-extra"></div>
      <% end %>
    </div>
  </div>
</div>
