<%
  #--
  #   Copyright (C) 2012 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<% render "header" %>

<%= form_tag(bulk_update_messages_path, :method => :put) do %>
  <table class="table">
    <tr>
      <th></th>
      <th>Who</th>
      <th>What</th>
      <th>When</th>
    </tr>
    <% if messages.present? %>
      <%= render messages %>
    <% else %>
      <tbody>
        <tr>
          <td colspan="4">
            No messages
          </td>
        </tr>
      </tbody>
    <% end %>
    <tfoot>
      <tr>
        <td colspan="4">
          <%= render_pagination_links (messages) %>
        </td>
      </tr>
    </tfoot>
  </table>
  <hr/>
  <%= render "bulk_action_menu" %>
<% end %>
