<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= simple_form_for user, :url => user_path(user.login), :method => :put, :multipart => true, :html => { :class => 'form-horizontal' } do |f| -%>
  <fieldset>
    <legend>Update your information</legend>
    <%= f.input :fullname, :label => t("views.users.realname") %>
    <%= f.input :email, :as => :email, :label => t(:email, :scope => 'views.users') %>
    <%= f.input :public_email, :as => :boolean, :hint => 'The email will be encoded to prevent scraping', :label => t(:public_email, :scope => 'activerecord.attributes.user') %>
    <%= f.input :identity_url, :as => :string, :label => t("views.users.openid") %>
    <div class="control-group user-avatar">
      <label class="control-label">Current avatar</label>
      <div class="controls">
        <%= avatar(user, :version => :thumb, :size => '64', :class => 'pull-left') %>
        <% if user.avatar? %>
          <%= link_to "Delete", user_avatar_path, :method => :delete,
            :data => { :confirm => 'Are you sure?' },
            :class => 'delete-button' %>
        <% end %>
      </div>
    </div>
    <%= f.input :avatar, :as => :file, :hint => 'If you do not add an image, Gitorious will try to use your gravatar', :label => 'Upload avatar' %>
    <%= f.input :wants_email_notifications, :as => :boolean, :hint => t("views.users.describe_email_notifications"), :label => t("views.users.wants_email_notifications") %>
    <%= f.input :default_favorite_notifications, :as => :boolean, :hint => t("views.users.default_favorite_notifications", :url => favorites_path) %>
  </fieldset>
  <div class="form-actions">
    <%= button_tag t("views.common.save"), :type => 'submit', :class => 'btn btn-primary' %>
  </div>

  <fieldset>
    <legend>Delete account</legend>
    <div>
      <p><%= t('views.users.delete_account_description') %></p>
      <%= link_to t("views.users.delete_account"), user_delete_current_path(current_user), :confirm => t('views.users.delete_account_confirmation'), :class => "delete_account btn btn-danger" -%>
    </div>
  </fieldset>
<% end -%>
