<%
  # encoding: utf-8
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2009 Sven Eckelmann <sven.eckelmann@gmx.de>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% view_all_diffs_path = project_repository_merge_request_version_path(merge_request.project, merge_request.target_repository, merge_request) %>

<%= partial("repositories/header_compact", {
        :repository => repository,
        :project => repository.project,
        :app => Gitorious,
        :active => :merge_requests
      }) %>

<div class="container gts-body">
  <%= render 'header', :merge_request => merge_request, :source_repo => source_repo, :target_repo => target_repo, :user => user %>

  <% help_link = link_to('<i class="icon icon-question-sign"></i>'.html_safe, '#mr-help',
                         :data => { :toggle => 'modal' }) %>
  <% commit_header = "Commits #{help_link}".html_safe %>

  <%= pull_box commit_header do %>
    <div class="btn-group">
      <%= link_to(view_all_diffs_path, :class => 'btn gts-btn-show-diffs') do %>
        <i class="icon-list-alt"></i>
        View all diffs
      <% end %>
    </div>
    <%= render 'merge_requests/show/commits', :commits => commits, :repository => repository, :merge_request => merge_request %>
  <% end %>

  <%= tabbable({ 'discussion' => '#discussion' }, :active => 'discussion') do %>
    <%= tab_pane 'discussion', :active => true do %>
      <%= render 'merge_requests/show/comments', :comments => comments, :merge_request => merge_request, :repository => repository %>
    <% end %>
  <% end %>

  <%= render "merge_requests/show/help", :merge_request => merge_request %>
</div>
