<%
  #--
  #   Copyright (C) 2012 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<% verbose ||= false %>
<h5 <%= repository.mainline? ? "mainline" : "clone" -%>>
  <% if verbose -%>
    <%= link_to h(repository.project.to_param), repository.project -%>
    <%= image_tag("silk/arrow_right.png") -%>
  <% end -%>
  <%= link_to "<strong>#{h(repository.name)}</strong>".html_safe,
      [repository.project, repository] -%>
  (<%= link_to "Commits", [repository.project, repository, :commits] -%>,
  <%- if repository.merge_requests_enabled? -%>
    <%= link_to "Merge requests",
        [repository.project, repository, :merge_requests] -%>,
  <%- end -%>
  <%= link_to("Source tree", tree_url(RepositoryPresenter.new(repository).slug, "HEAD")) -%>
</h5>
