<%
  #--
  #   Copyright (C) 2012 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<li class="clone">
  <% if repository.owned_by_group? %>
    <span class="group">
      <%= group_avatar(repository.owner, :size => 16) %>
      <%= link_to h(repository.owner_to_param_with_prefix), repository.owner %>
    </span>
  <% else %>
    <span class="user">
      <%= avatar(repository.user, :size => 16) %>
      <%= link_to h(repository.user_to_param_with_prefix), repository.user %>
    </span>
  <% end %>
  &raquo;
  <span class="name">
    <%= link_to h(repository.name), [repository.project, repository] %>
  </span>
</li>
