<%
#--
#   Copyright (C) 2013 Gitorious AS
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
comment = CommentPresenter.new(comment, self)
%>

<div class="gts-comment" id="comment-<%= comment.id %>">
  <div class="gts-comment-header">
    <%= comment.avatar %>
    <%= comment.author_link %>
    <%= comment.line_number %>
    <%= comment.state_changed %>
    <div class="gts-comment-meta">
      <%= link_to comment.timestamp, "#comment-#{comment.id}" %>
      <%= comment.edit_link %>
    </div>
  </div>
  <div class="gts-comment-context">
    <%= comment.context %>
  </div>
  <% if comment.body? %>
    <div class="gts-comment-body">
      <%= comment.markdown %>
    </div>
  <% end %>
</div>
