<%
  #--
  #   Copyright (C) 2012 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<div class="comment_form">
  <h3><%= t("views.comments.edit_title") -%></h3>
  <%= form_for(@comment, :url => url_for([@project, @repository, @comment])) do |f|-%>
    <p>
      <%= f.label :body, t("views.comments.body") -%> <br />
      <%= f.text_area :body -%>
    </p>

    <p>
      <input type="button" class="cancel" value="Cancel" />
      <%= f.submit "Update", :class => "default_action" -%>
    </p>
  <%- end -%>
</div>
