<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<% title ||= "Add comment" %>
<fieldset>
  <legend><%= title %></legend>
  <div id="comment-markdown-preview" class="gts-markdown-preview help-block">
    <div></div>
    <div class="gts-comment-author-ph"></div>
  </div>
  <%= form.input(:body, :input_html => {
          :class => "input-xxlarge gts-live-markdown-preview",
          :rows => 5,
          :"data-gts-preview-target" => "comment-markdown-preview"
        }) %>

  <%= form.hidden_field(:sha1) %>
  <% if !form.object.path.blank? %>
    <%= form.hidden_field(:path) %>
    <%= form.hidden_field(:context) %>
    <%= form.hidden_field(:lines) %>
  <% end %>

  <% if comment_applies_to_merge_request?(form.object.target) %>

    <div class="control-group">
      <%= label_tag(:state, "State", :class => "control-label") %>
      <div class="controls">
        <%= form.select(:state, statuses_for_merge_request_for_select(form.object.target),
              :selected => form.object.target.status_tag.to_s, :include_blank => true) -%>
      </div>
    </div>

    <%- if !form.object.target.watched_by?(current_user) -%>
      <div class="control-group">
        <%= label_tag(:add_to_favorites, "Start watching:", :class => "control-label") %>
        <div class="controls">
          <label class="checkbox">
            <%= check_box_tag(:add_to_favorites, "on") %>
          </label>
          <p class="help-block">
            If you later on want to stop watching this merge request,
            simply click the button on the merge request labelled
            "Stop watching" at the top of the page
          </p>
        </div>
      </div>
    <% end %>

  <% end %>

  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</fieldset>
