<%
  #--
  #   Copyright (C) 2012 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<div id="inline_comment_form" class="<%= commentable_type -%>">
  <h2>Add your comment</h2>
  <% if logged_in? -%>
    <%= form_for(comment, :url => url) do |f| -%>
      <p><em id="description"></em></p>
      <p class="flash_message error" style="display:none"></p>
      <p>
        <%= f.text_area :body -%>
        <%= hidden_field :comment, :lines -%>
        <%= f.hidden_field :path -%>
        <%= f.hidden_field :sha1, :value => sha1 -%>
        <%= f.hidden_field :context -%>
      </p>
      <p>
        <%- if include_favorite_checkbox -%>
          <%= label_tag(:add_to_favorites, "Start watching") %>:
          <%= check_box_tag(:add_to_favorites, "on") %> <br />
        <%- end -%>
      </p>
      <p class="progress" style="display:none">Saving...</p>
      <p>
        <%= f.submit -%>
        <input type="button" value="Cancel" class="cancel" />
      </p>
    <% end -%>
  <% else -%>
    <div class="please_log_in">
      <p>Please <%= link_to "log in", login_path -%> to comment</p>
    </div>
  <% end -%>
</div>
