<%
#--
#   Copyright (C) 2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= partial("repositories/header_compact", {
        :repository => repository,
        :project => repository.project,
        :app => Gitorious
      }) %>
<div class="container gts-body">
  <% @title = "Update comment" %>
  <%= error_messages(comment) -%>
  <%= simple_form_for(comment, {
          :as => :comment,
          :url => update_comment_path(comment),
          :html => { :class => "form-horizontal gts-comment-form" }
        }) do |form| -%>
    <%= render(:partial => "form", :locals => {
            :form => form,
            :title => "Update comment",
            :comment => comment
          }) %>
  <% end %>
</div>
