<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<% content_for(:head) do %>
  <%= auto_discovery_link_tag(:atom, atom_auto_discovery_url) -%>
<% end %>

<%= partial("repositories/repo_header", {
        :repository => repository,
        :project => repository.project,
        :app => Gitorious,
        :header_level => 2
      }) %>

<div class="container gts-body">
  <% @title = t("views.comments.page_title_2", :title => project.title) -%>
  <h1><%= t("views.comments.page_title_3", :repo => h(repository.name), :title => h(repository.project.title)).html_safe %></h1>
  <% if comments.blank? -%>
    <p><em>No comments yet, be the first to add one to a commit</em></p>
  <% end -%>
  <div class="comments">
    <% comments.each do |comment| -%>
      <%= render(:partial => "comment", :locals => { :comment => comment }) %>
    <% end -%>
  </div>
</div>
