<%
  #--
  #   Copyright (C) 2011-2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<% content_for(:head) do %>
  <%= auto_discovery_link_tag(:atom, atom_auto_discovery_url,
        :title => atom_auto_discovery_title) %>
<% end %>

<%= repo_header repository, :current_user => current_user, :ref => ref, :active => :commits %>

<div class="container">
  <div class="gts-ref-selector-ph"></div>
  <ul class="nav nav-tabs">
    <li>
      <%= link_to "Log", project_repository_commits_in_ref_path(repository.project,
                                                                repository,
                                                                params[:branch]) %>
    </li>
    <li  class="active">
      <%= link_to("Graph <span class=\"gts-oid\">#{ref}</span>".html_safe, "") %>
    </li>
  </ul>
  <h2 class="gts-legend">
    <%= @title = t("views.graphs.title", :repo_url => h(repository.url_path), :ref => h(ref)) %>

    <div class="pull-right">
      <%= feed_icon atom_auto_discovery_url %>
    </div>
  </h2>
  <%= cache([[repository.project, repository], :graphs, ref, params[:type]], { :expires_in => 10.minutes }) do %>
    <div class="capillary-graph capillary"
         data-gts-env-capillary-id-url="<%= "/#{repository.project.slug}/#{repository.name}/graph/{{id}}" %>"
         data-gts-env-capillary-message-url="<%= "/#{repository.project.slug}/#{repository.name}/commit/{{id}}" %>"
         data-gts-env-capillary-url="<%= url_for(:controller => "api/graphs", :action => "show", :branch => params[:branch], :type => params[:type]) %>">
      <h2>This page requires JavaScript</h2>
    </div>
  <% end %>
</div>
<% content_for(:footer) do %>
  <% (Rails.env.production? ? ["/dist/js/gitorious3-capillary.min.js"] : [
       "/ui3/js/lib/raphael/raphael-min.js",
       "/ui3/js/lib/capillary/lib/capillary.js",
       "/ui3/js/lib/capillary/lib/capillary/branch.js",
       "/ui3/js/lib/capillary/lib/capillary/graph.js",
       "/ui3/js/lib/capillary/lib/capillary/formatters/scale.js",
       "/ui3/js/lib/capillary/lib/capillary/formatters/svg-data.js",
       "/ui3/js/lib/capillary/lib/capillary/formatters/raphael.js",
       "/ui3/js/lib/capillary/lib/capillary/formatters/message-markup.js",
       "/ui3/js/src/components/capillary.js",
       "/ui3/js/src/capillary.js"
  ]).each do |script| %>
    <script src="<%= script %>"></script>
  <% end %>
  <script data-gts-env-repository-refs-url="<%= repository_refs_path(:project_id => repository.project, :repository_id => repository) %>"></script>
<% end %>
