<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= render(comments) %>

<% if logged_in? %>
  <%= simple_form_for(Comment.new(:target => merge_request), {
          :as => :comment,
          :url => project_repository_merge_request_comments_path(repository.project, repository, merge_request),
          :html => { :class => "form-horizontal gts-comment-form" }
        }) do |form| %>
    <%= render('comments/form', :form => form) %>
  <% end %>
<% else %>
  <p>
    <%= link_to t("views.sessions.login"), new_sessions_path %> or
    <%= link_to t("views.users.create"), new_user_path %> to post a comment
  </p>
<% end %>
