<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<div class="gts-mr-help-link clearfix">
  <a href="#mr-help" data-toggle="modal" class="pull-right">Help</a>
</div>
<%= modal_box 'Merge Request Help', 'mr-help' do %>
  <div class="gts-mr-help">
    <div class="gts-mr-help-content">
      <h4>How to update the merge request?</h4>
      <p>
        To update your merge request, either <%= link_to("edit here", :action =>
                                                   :edit) %> or push your changes through git. A new version of your merge
        request will be created, up until the last commit you push. You may make as
        many updates as you like; the last one will always be displayed by default
      </p>
      <pre><%= "git push #{merge_request.target_repository.push_url}:#{merge_request.merge_branch_name}" -%></pre>
      <h4>How to merge these changes?</h4>
      <p>
        Pull the changes into a local branch for review, verify the changes (run
        tests etc) and then merge into master:
      </p>
      <pre># Check out a new branch for integration
git checkout -b merge-requests/<%= merge_request.sequence_number %>

# Fetch the merge request into this branch
git pull <%= merge_request.target_repository.default_clone_url %> <%= merge_request.merge_branch_name %>

# Review commits
git log --pretty=oneline --abbrev-commit <%= merge_request.target_branch %>..merge-requests/<%= merge_request.sequence_number %>

# Apply the changes to your branch:
git checkout <%= merge_request.target_branch %>
git merge merge-requests/<%= merge_request.sequence_number %>
git push origin <%= merge_request.target_branch %></pre>
    </div>
  </div>
<% end %>
