<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<div style="margin-top: 20px; padding-top: 20px; border-top: 1px solid #d5d5d5;">
  <% if content.reload.public? %>
    <p>
      <strong><%= text(:is_public) %></strong>
      <%= text(:is_public_description, {
               :site_name => Gitorious.site_name,
               :project => project.title
             }) %>
    </p>
    <p>
      <%= link_to text(:make_private), memberships_path(content), :method => :post %>
    </p>
  <% else %>
    <p>
      <strong><%= text(:is_private) %></strong>
      <%= text(:is_private_description, {
              :site_name => Gitorious.site_name,
              :project => project.title
            }) %>
    </p>
    <p>
      <%= link_to("Remove all collaborators", {
              :action => "destroy",
              :id => "all"
            },
            :method => :delete,
            :confirm => "Are you sure? This will delete all #{memberships.count} members") %>
      to <%= text(:make_public) %>
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= text(:collaborator) %></th>
          <th><%= t(:created_at, :scope => "activerecord.attributes.committerships").humanize %></th>
        </tr>
      </thead>
      <tbody>
        <%= render(memberships) %>
      </tbody>
    </table>
    <%= render(:partial => "content_memberships/form", :locals => { :membership => membership }) %>
  <% end %>
</div>
