<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<%= form.input(:name, :label => t("views.groups.team_name"), :disabled => group.persisted?, :hint => group.persisted? && 'Changing existing group name is not allowed') %>
<%= form.input(:description, :label => t("views.groups.description"), :input_html => { :class => 'input-xxlarge', :rows => 5 }) %>
<%= form.input(:avatar, :label => t("views.groups.avatar")) %>
<div class="control-group group-avatar">
 <label class="control-label">Current avatar</label>
 <div class="controls">
   <%= group_avatar(group, :size => :thumb, :class => 'pull-left') %>
   <% if group.avatar? %>
     <%= link_to "&nbsp;Delete".html_safe, group_avatar_path(group), :method => :delete,
       :data => { :confirm => 'Are you sure?' },
       :class => 'delete-button' %>
   <% end %>
 </div>
</div>
<% if group.is_a?(LdapGroup) %>
  <%= form.input(:ldap_group_names, :as => :text, :hint => "Enter LDAP group RDNs (Relative DN), one per line "+
        "<strong>Note:</strong> entries should be relative to the LDAP base DN") %>
<% end %>
