<%
#--
#   Copyright (C) 2012-2014 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= simple_form_for(ssh_key, html: { class: 'ssh_key' }, url: form_action) do |f| -%>
  <small class="hint"><%= t("views.keys.hint").html_safe %></small>
  <%= f.input :key, :as => :text, :label => false %>
  <div class="form-actions">
    <%= button_tag t("views.common.save"), :type => 'submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
