<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% type = owner.class.model_name.underscore %>

<%= render "#{type.pluralize}/header", type.to_sym => owner, :active => :wiki %>

<% @title = t("views.pages.last_n_edits", { :n => 30, :title => page.title }) %>

<div class="container">
  <%= render('pages/actions', :owner => owner, :page => page, :active => :history) %>
  <h2 class="gts-legend">
    <%= t("views.pages.last_n_edits", {
            :n => 30,
            :title => link_to(page.title, wiki_page_path(owner, page.title))
          }).html_safe %>
  </h2>
  <%= render(:partial => "commits/log", :locals => {
          :repository => wiki_repository,
          :ref => "master",
          :commits => commits,
          :no_pagination => true,
          :display_diffs => true
        }) %>
</div>
