<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<%= render"projects/header", :project => project, :active => :admin %>

<div class="container" id="gts-pjax-container">
  <%= error_messages(project) -%>
  <%= form_for(project, :as => :project, :url => transfer_ownership_project_url(project), :method => "put", :html => { :class => "form-horizontal" }) do |f| -%>
    <fieldset>
      <legend><%= @title = "Transfer ownership for #{project.title}" %></legend>
      <div class="control-group">
        <%= f.label :owner_id, "New owner", :class => "control-label" -%>
        <div class="controls">
          <%= f.select(:owner_id, groups.map { |g| [g.name, g.id] },
                       :include_blank => true, :selected => nil) %>
          <p class="help-block">
            Only change ownership of this project if you are
            absolutely sure you want to give admin and commit access
            to every repository in it to everyone in the selected
            group.
          </p>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Transfer ownership</button>
      </div>
    </fieldset>
  <% end %>
</div>
