<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% @title = "Edit #{project.title} URL string" %>

<%= render "projects/header", :project => ProjectPresenter.new(project), :active => :admin %>

<div class="container" id="gts-pjax-container">
  <div class="row-fluid">
    <div class="span8">
      <%= simple_form_for(project, {
              :as => :project,
              :url => edit_slug_project_path(project),
              :method => "put",
              :html => { :class => "form-horizontal" }
            }) do |form| %>
        <fieldset>
          <legend>
            <%= t("views.projects.edit_slug_title", :link => link_to(h(project.title), project_path(project))) %>
          </legend>
          <%= form.input(:slug, {
                  :label => t(:slug, :scope => "activerecord.attributes.project"),
                  :hint => t('views.projects.edit_slug_disclaimer').html_safe
                }) %>
          <div class="form-actions">
            <%= form.submit(t("views.projects.update_slug"), :class => "btn btn-primary") %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
