<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% @title = t("views.projects.title") %>

<div class="container gts-container">
  <div class="row-fluid">
    <div class="span8">
      <ul class="gts-listing">
        <%= render projects %>
      </ul>
      <%= raw JustPaginate.page_navigation(page, total_pages) { |n| projects_path(:page => n) } %>
    </div>
    <div class="span4">
      <p class="clearfix">
        <a class="btn btn-primary pull-right" href="<%= new_project_path %>">
          <i class="icon-plus-sign icon-white"></i>
          <%= t("views.projects.create_new") %>
        </a>
      </p>
      <% if !tags.blank? %>
        <%= pull_box(t("views.projects.popular")) do %>
          <table class="table">
            <% tags.each do |tag| %>
              <tr>
                <td class="repository">
                  <%= link_to h(tag.name), search_path(:q => "@category:#{h(tag.name)}") %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
      <% end %>
      <% if !active_recently.blank? %>
        <%= pull_box("Most active recently") do %>
          <table class="table">
            <% active_recently.each do |project| %>
              <tr>
                <td><%= link_to h(project.title), project %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
