<%
  #--
  #   Copyright (C) 2011-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<% @page_title = t("views.projects.new_title") %></h2>

<div class="container gts-container">
  <div class="row-fluid">
    <div class="span8">
      <%= simple_form_for(project, :url => projects_path, :builder => Gitorious::View::FormBuilder, :html => { :class => "form-horizontal" }) do |f| %>
        <fieldset>
          <legend>Create a new project</legend>
          <%= render('form', :form => f, :project => project, :edit_slug => true, :edit_urls => false) %>
          <div class="form-actions">
            <%= f.submit 'Save', :class => 'btn btn-primary' %>
          </div>
        </fieldset>
      <% end %>
    </div>
    <% if Gitorious::Configuration.get("enable_sidebar_license_descriptions") %>
      <div class="span4">
        <h3>License overview</h3>
        <dl>
          <% ProjectLicense.all.each do |license| %>
            <dt><%= license.name %></dt>
            <%=raw "<dd>#{license.description}</dd>" if license.description %></dd>
          <% end %>
        </dl>
      </div>
    <% end %>
  </div>
</div>
