# -*- coding: utf-8 -*-
<%
#--
#   Copyright (C) 2012 Gitorious AS
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

Olá <%= @user.login -%>,

Alguém, provavelmente você, requisitou uma nova senha para sua conta no Gitorious.

Se você não solicitou uma nova senha, então ignore esta mensagem, por favor.

Siga este link para reiniciar sua senha: <%= @url %>

Se você acredita que recebeu esta mensagem por algum erro, por favor reporte-nos via <%= Gitorious.url("/contact") -%>


Obrigado

<%= Gitorious.url("/") %>
