<%
#--
#   Copyright (C) 2012 Gitorious AS
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

Hello <%= @user.login -%>,

someone, most likely you, requested a new password for your Gitorious.org account.

If you did not request a new password for your account then please ignore this email.

Follow this link to reset your password: <%= @url %>

If you believe you have received this email in error, then please do report it to us via <%= Gitorious.url("/contact") -%>


Thank you

<%= Gitorious.url("/") %>
