<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2008 David Chelimsky <dchelimsky@gmail.com>
  #   Copyright (C) 2008 Jonas Fonseca <fonseca@diku.dk>
  #   Copyright (C) 2008 David Aguilar <davvid@gmail.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<div class="gts-site-header">
  <div class="container">
    <div class="row">
      <h1 class="span"><%= @title = "FAQ" %></h1>
    </div>
    <ul class="nav nav-tabs gts-header-nav">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path -%></li>
      <li class="active"><a>FAQ</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span8">
      <h2>I get "fatal: no matching remote head" when trying to clone a repository</h2>
      <p>
        Most likely the repository you are trying to clone is empty, and the error
        message is git's friendly way of telling you that. See below (or by clicking
        "more info" next to the repository's "push url") for info on how to push to
        it.
      </p>
      <% if Gitorious::Configuration.get("ssh_fingerprint") %>
        <h2>What is the SSH key fingerprint of the server I am pushing to?</h2>
        <p>
          The SSH key fingerprint of the <%= Gitorious.host %> server is:<br />
          <code><%= Gitorious::Configuration.get("ssh_fingerprint") %></code>
        </p>
      <% end %>
      <% if Gitorious::Configuration.get("enable_super_group") %>
        <h2>What is a Super Group?</h2>
        <p>
          Super group makes all the repositories available for registered
          user. It automatically adds a SuperGroup, that contains everyone,
          to every project. It can be disabled in Gitorious configuration
          <code>config/gitorious.yml</code> by setting <code>enable_super_group: false</code>.
        </p>
      <% end %>
      <h2>How do I point my local Git repository at Gitorious?</h2>
      <p>
        Easiest way is to put something like the following in your <code>.git/config</code>
        file of the repository you wish to push:
      </p>
      <pre><code>[remote "origin"]
url = <%= Gitorious.ssh_daemon.url("<em>project</em>/<em>repository.git</em>").html_safe %>
fetch = +refs/heads/*:refs/remotes/origin/*

[branch "master"]
remote = origin
merge = refs/heads/master</code></pre>
      <p>
        and then <code>git push origin master</code> to push the code to Gitorious.
      </p>
      <p>
        You can also just run <code>"git push <%= Gitorious.ssh_daemon.url('tumbline/mainline.git').html_safe %>"</code>, or
        you can setup a remote by doing the following (add --fetch to the add call to
        get the config from above):
      </p>
      <pre><code>$ git remote add origin <%= Gitorious.ssh_daemon.url("<em>project</em>/<em>repository.git</em>").html_safe %>
# to push the master branch to the origin remote we added above:
git push origin master

# after that you can just do:
git push
      </code></pre>

      <h2>What version of Git is Gitorious running?</h2>
      <p><code><%= Gitorious.git_version %></code></p>

      <h2>How did my avatar/mugshot end up on this site? I am not even registered!</h2>
      <p>
        We use <a href="http://gravatar.com">Gravatar.com</a> for user avatars. If you
        have not registered on Gitorious, someone else may have pushed commits with you
        name and/or email in them which we in turn hash and send to to Gravatar.com to
        find an avatar image. If you want it changed you should either register and
        upload an avatar of your own, or go to Gravatar.com and change it.
      </p>

      <h2>Why do I need to upload my public SSH key?</h2>
      <p>
        When you push to a Git repository, your public key is how we authenticate
        you and check if have the permissions required to do a commit to a given
        repository
      </p>

      <h2>I use Windows. How do I generate the required SSH key?</h2>
      <p>
        The recommended way to use Git on Windows is the <%= link_to "msysGit",
                                                             "http://code.google.com/p/msysgit/" -%> version. It comes bundled with
        minimal Cygwin support. When you finish installing it, you will have a
        "Git Bash" icon in your desktop. Double click to open it and now you can
        use known Linux-like commands, such as <code>"ssh-keygen -t rsa"</code>.
        Just press 'Return' in every question it asks and you will finally have
        your pair of keys under ".ssh". For example, type
        <code>"cat ~/.ssh/id_rsa.pub"</code>. Thats is the public key that you are
        required to copy and paste into your account on Gitorious.
      </p>
    </div>
  </div>
</div>
